<!-- Probably move the stylesheet to you layout. Also make sure you include the javascript. -->
<%= javascript_include_tag 'event_calendar' %>
<%= stylesheet_link_tag "event_calendar" %>
<%= provide(:title, I18n.localize(@shown_month, :format => "%B %Y"))%>
<header class= "navbar navbar-fixed-top navbar-inverse">
	<div class ="navbar-inner">
		<center>
	
	    << <%= month_link(@shown_month.prev_month) %> | <%= I18n.localize(@shown_month, :format => "%B %Y") %> | <%= link_to  month_link(@shown_month.next_month) %> >> <br>
		<%= link_to "Go to Current Month", calendar_path %>
		<br>

		</center>
		<nav>
			<ul class="nav pull-right">
				<li><%= link_to "Events", events_path  %></li>
				<li><%= link_to "New Event", new_event_path %></li>
				<li><%= link_to "Log In", '#'%></li>
				<li><%= link_to "Log Out", '#'%></li>
			</ul>
		</nav>
	</div>		
</header>
<body>
<div class="center hero-unit">	
<%= raw(event_calendar) %>
</div>
</body>
