<%= provide(:title, 'Landing Page')%>
<header class= "navbar navbar-fixed-top navbar-inverse">
	<div class ="navbar-inner">
	 	<h2 class= "pull-left">Asynchronous Quality User Agendas App</h2>	
		<nav>
			<ul class="nav pull-right">
				<% if user_signed_in?%>
					<li><p>Logged in as <%= current_user.email %> | Not you?</p></li>					
					<li><%= link_to "Log Out", signout_path, :method => :delete%></li>
					<li><%= link_to "Calendar", calendar_path %></li>
					<li><%= link_to "Events", events_path  %></li>
				<% else %>
					<li><p>New User? </p></li>
					<li><%= link_to "Sign Up", signup_path %></li> 
					<li><p>Already have an account?</p></li>
					<li><%= link_to "Sign In", signin_path %></li>					
				<% end %>
				
			</ul>
		</nav>
	</div>		
</header>
<body>
	<div class= "hero-unit-landing-header">
		<br><br><br><br>
	<h2 class="landing-text-top">Need a robust, fully-featured scheduling app, but not a lot of time to train?<br>
		Need to deploy to a large amount of users, but have a small IT staff?<br>
		Are other scheduling apps simply too expensive?</h2><br>
		
	<h1 class="landing-text-middle">YOUR SOLUTION HAS ARRIVED.<br>SAY HELLO TO THE A.Q.U.A. APP</h1>
	</div>
	<br><br>
	<div class= "hero-unit-landing pull-left">
		<h2>Features of the A.Q.U.A. App</h2>
		<ul>
			<li>Flexibility and Scalability</li>
			<li>Per-User Schedules</li>
			<li>Promotes Synergy</li>
			<li>Affordability</li>
			<li>Pairs well with most CMS suites</li>
		</ul>
	</div>
	<h2 class="pull-right right-landing">Why use the A.Q.U.A. App?<br>
	By looking at the list of features*, it isn't hard to figure out why<br>
	<br>
	*Features** may not be included<br>
	**Remember, bugs aren't bugs, they're features***<br>
	***Especially when they blow up spectacularly</h2>
	<br><br><br><br>
	<br><br><br><br>
	<br><br><br><br>
	<br><br><br><br>
	<br><br><br><br>
	
	<div class= "hero-unit-landing pull-right right-landing">
		<h1>Totally Not Made Up Quotes from Real? People</h1>
		<h2>Sounds too good to be true?<br> Here's some words for our many clients and users!</h2>
	</div>
	<div class= "pull-left">
		<h5 class="quotes">"I once wasn't bald, until I tore all my hair out trying to find a good scheduling app,<br> then I found A.Q.U.A. and it made me wish I had found it earlier so I would have kept all my hair." <br><i>- Steve Ballmer, Microsoft</i></h5>
		<h5 class="quotes">"Lorem ipsum dolor sit amet, consectetur adipisicing elit, <br> sed do eiusmod tempor incididunt ut labore et dolore magna aliqua." <br><i> - Etaoin Shrdlu</i></h5>
		<h5 class="quotes">"Dis thing here is good lookin' product, mmm hmmm"<br><i>- Stephen Steven "Steve" Stefan Stevens, CEO and Head Steven, Stevens Consulting</i></h5>
		<h5 class="quotes">"This prouduct is perfect! There's absolutely nothing wrong with it! NOTHING!"<br><i>- A developer</i></h5>
	</div>
	<br><br><br><br>
	<br><br><br><br>
	<br><br><br><br>
	<br><br><br><br>
	<br><br><br><br>
	<br><br><br><br>
	<div class="center-landing hero-unit-landing">
    	<center><h2>Interested in trying it out? Sign up today!</h2><br><%= link_to "Sign Up", signup_path, class: "btn btn-large"%></center>
    </div>
</body>
</html>
